* {
    margin: 0;
    padding: 0;
}
body{
  background-color: white;
  text-align: center;
  font-family: sans-serif;
}
.top-container{
  background: #AFDCDF;
  margin: 0;
  padding: 100px;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
}
ul {
top: 0;
width: 94%;
list-style-type: none;
margin: 0;
padding: 0;
padding-top: 15px;
overflow: hidden;
}

li {
float: left;

}
a{
  font-family: sans-serif;
}
li a {
display: inline-block;
color: black;
text-align: center;
padding-left: 10px;
padding-right: 10px;
padding-top: 20px;
text-decoration: none;
}

li a::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.3s;
}
li a:hover::after, li a.active-nav::after {
  width: 100%;
  background: white;
}
.logo-image{
   width: 46px;
   height: 46px;
   border-radius: 50%;
   overflow: hidden;
   margin-top: -6px;
}
.title{
  padding-top: 80px;
  font-family: "Rochester",sans-serif;
  font-size: 50px;
}

.me{
  float: left;
  width: 90px;
  padding-left: 100px;
}

.phead{
    float: center;
    color: #AFDCDF;
    padding: 100px;
}

.left {
  background-color: #69BEC4;
}

.right {
  float: right;
  padding-right: 150px;
  padding-top: 150px;
  background-color: #69BEC4;
}
.centered {
  float: left;
  top: 250%;
  left: 50%;
  text-align: center;
}
.centered img {

  width: 500px;
}

